name: Android CI Build
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 配置JDK17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: 授予执行权限
        run: chmod +x UdiskAutoBackup/UdiskAutoBackup/gradlew

      - name: 构建Debug APK
        run: UdiskAutoBackup/UdiskAutoBackup/gradlew assembleDebug -p UdiskAutoBackup/UdiskAutoBackup

      - name: 上传APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: UdiskAutoBackup/UdiskAutoBackup/app/build/outputs/apk/debug/app-debug.apk
